.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: var(--color-opacity-dark);
    color: var(--color-grey);

    display: flex;
    justify-content: center;
    align-items: center;

}
